.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  margin: 0 10px;
}

@media screen and (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
    gap: 1%
  }
  
}