.contacts {
  display: flex;
  background-color: #3b4252;
}

.icon {
  padding: 10px;
  color: white;
}

.icon:hover {
  color: #81a1c1;
}


@media screen and (max-width: 768px) {
  .contacts {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    flex-direction: column;
  }
}
